AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

DATABASE_URL=

ROOT_PATH=C:\wamp64\www\CorpConnect\public

NEXTJS_URL=${BASE_URL}
REDIS_URL=http://localhost:3000

NEXT_PUBLIC_WS_URL=http://localhost:4000
WS_PORT=4000
